---
import NavItem from "./NavItem.astro";
import Data from "../../data.json";
---

<nav
  id="nav"
  class=" fixed top-0 z-40 w-full backdrop-blur flex-none transition-colors duration-500 border-b border-orange-600"
>
  <div class="flex flex-row justify-between items-center p-3">
    <img src="/Logo-SF.png" class="size-16 rounded-md ml-16" alt="" srcset="">
    <div class="flex flex-row mr-20">
      <div
        id="menu"
        class="hover:text-gray-900 rounded-full md:flex flex-row relative bg-slate-200 p-1 px-2 m-1 hidden"
      >
        {
          Data.Navegacion.map((elemento) => (
            <NavItem title={elemento.title} url={elemento.url} />
          ))
        }
        <!-- <button class="px-5">Es/In</button> -->
      </div>
      <button
        id="hamburgerBtn"
        class="md:hidden block p-2 text-orange-500 hover:text-orange-200 focus:outline-none"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>
  </div>
</nav>

<script>
  window.addEventListener("load", function () {
    var elemento = document.getElementById("nav");
    if (elemento) {
      elemento.classList.remove("backdrop-blur");
      elemento.classList.remove("border-b");
      this.window.addEventListener("scroll", function () {
        if (elemento) {
          if (window.scrollY === 0) {
            elemento.classList.remove("backdrop-blur");
            elemento.classList.remove("border-b");
          } else {
            elemento.classList.add("backdrop-blur");
            elemento.classList.add("border-b");
          }
        }
      });
    }
  });

  const menu = document.getElementById("menu");
  const hamburgerBtn = document.getElementById("hamburgerBtn");
  let active = true;

  if (hamburgerBtn) {
    hamburgerBtn.addEventListener("click", () => {
      if (menu) {
        if (!active) {
          active = true;

          menu.classList.add("hidden");
          menu.classList.add("rounded-full");
          menu.classList.remove("flex");
          menu.classList.remove("rounded");
          menu.classList.remove("flex-col");
          menu.classList.remove("justify-items-start");
        } else {
          active = false;
          menu.classList.remove("hidden");
          menu.classList.remove("rounded-full");
          menu.classList.add("flex");
          menu.classList.add("rounded");
          menu.classList.add("flex-col");
          menu.classList.add("justify-items-start");
        }
      }
    });
  }
</script>
