---
import AboutItem from "./AboutItem.astro";
import Data from "../../data.json";
---

<br id="About" /><br /><br /><br>
<section class="relative w-full h-1/3 flex flex-col justify-center">
  <div class="text-center mx-10">
    <h2
      class="md:text-6xl text-5xl font-bold mb-4 pb-4 bg-gradient-to-r from-cyan-500 via-cyan-300 to-cyan-500 text-transparent bg-clip-text"
    >
      {Data.About.title}
    </h2>
    <h3
      class="md:text-4xl md:mx-20 text-2xl font-bold mb-4 pb-4 bg-orange-100 text-transparent bg-clip-text"
    >
      {Data.About.descripcion}
    </h3>

    <div class="grid grid-cols-1 gap-5 lg:grid-cols-2 mt-5 mx-10">
      {
        Data.AboutItems.map((elemento) => (
          <AboutItem
            texto={elemento.texto}
            icono={elemento.icono}
          />
        ))
      }
    </div>

  </div>
</section>
