---
import Data from "../../DATA/data-es.json"
---
<footer class="relative bg-[#001432] text-white py-16">
  <!-- SVG como fondo -->
  <div class="absolute inset-0 -top-1 z-0">
    <svg
      id="visual"
      viewBox="0 0 900 600"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      version="1.1"
      class="absolute bottom-0 w-full"
    >
      <path
        d="M0 515L25 491.5C50 468 100 421 150 421.8C200 422.7 250 471.3 300 482.5C350 493.7 400 467.3 450 444.8C500 422.3 550 403.7 600 402C650 400.3 700 415.7 750 432.2C800 448.7 850 466.3 875 475.2L900 484L900 601L875 601C850 601 800 601 750 601C700 601 650 601 600 601C550 601 500 601 450 601C400 601 350 601 300 601C250 601 200 601 150 601C100 601 50 601 25 601L0 601Z"
        fill="#001432"
        stroke-linecap="round"
        stroke-linejoin="miter"
      ></path>
    </svg>
  </div>

  <!-- Contenido del footer -->
  <div
    class="relative z-10 text-center flex items-center justify-center text-gray-300"
  >
    <p>{Data.Footer.texto}</p>
  </div>
</footer>