---

---
<br>
<section class="
    relative z-10 

    max-w-4xl md:mx-auto mx-4 mt-10 p-8 shadow-lg rounded-lg ring-8 ring-cyan-800
    
    bg-gradient-to-tl from-stone-800 via-cyan-950 to-stone-800"

    >
    
    <h2 class="text-center md:text-6xl text-4xl font-bold mb-4 pb-4 bg-gradient-to-r from-cyan-700 via-cyan-400 to-cyan-700 text-transparent bg-clip-text">Contáctanos</h2>
    <form class="space-y-6">
      <!-- Nombre y Apellido -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <label for="nombre" class="block text-lg font-medium text-orange-300">Nombre</label>
          <input
            type="text"
            id="nombre"
            placeholder="Tu nombre"
            class="mt-1 w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
          />
        </div>
        <div>
          <label for="apellido" class="block text-lg font-medium text-orange-300">Apellido</label>
          <input
            type="text"
            id="apellido"
            placeholder="Tu apellido"
            class="mt-1 w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
          />
        </div>
      </div>
  
      <!-- Email -->
      <div>
        <label for="email" class="block text-lg font-medium text-orange-300">Email</label>
        <input
          type="email"
          id="email"
          placeholder="tucorreo@ejemplo.com"
          class="mt-1 w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
        />
      </div>
  
      <!-- Empresa -->
      <div>
        <label for="empresa" class="block text-lg font-medium text-orange-300">Empresa</label>
        <input
          type="text"
          id="empresa"
          placeholder="Nombre de tu empresa"
          class="mt-1 w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
        />
      </div>
  
      <!-- Mensaje -->
      <div>
        <label for="mensaje" class="block text-lg font-medium text-orange-300">Mensaje</label>
        <textarea
          id="mensaje"
          rows="5"
          placeholder="Escribí tu mensaje aquí..."
          class="mt-1 w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
        ></textarea>
      </div>
  
      <!-- Botón de enviar -->
      <div class="flex justify-center">
        <button
          type="submit"
          class="px-6 py-3  bg-orange-600 text-orange-100 rounded-lg hover:bg-cyan-400 hover:text-black transition-colors duration-300"
        >
          Enviar mensaje
        </button>
      </div>
    </form>
  </section>
  